.hero {
  position: relative;
}

.banner-img {
  width: 100%;
  mask-image: linear-gradient(to right, transparent, black 50%);
  -webkit-mask-image: linear-gradient(to right, transparent, black 50%);
}

.hero-caption {
  position: absolute;
  width: 94%;
  bottom: 0;
  padding-left: 6%;
}
.caption-img {
  margin-bottom: 30px;
 
  width: 90%;
  max-width: 420px;
}

.hero-caption p {
  max-width: 700px;
  margin-bottom: 20px;
  font-size: 17px;
}

.btn {
  display: flex;
  gap: 8px;
  /* margin-bottom: 50px; */
}

.hero-btns .btn img {
  width: 24px;
}

.hero-btns .btn {
  border: 0;
  outline: 0;
  padding: 8px 16px;
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
  /* gap: 10px; */
  /* gap: 20px; */
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  background: white;
  border-radius: 4px;
}

.hero-btns .btn.dark-btn {
  color: white;
  background: #6d6d6eb3;
}

.hero-btns .btn:hover  {
  cursor: pointer;
  background: #ffffffbf;
}

.hero-btns .btn.dark-btn:hover {
  background: #6d6d6e66;
}

.more-cards {
  padding-left: 6%;
}

