.player{
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.player img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    cursor: pointer;
}

.player iframe {
    margin-top: 40px;
    border-radius: 10px;
}

 .player-info {
    margin-top: 12px;
    justify-content: space-between; 
    align-items: center;
    display: flex;
    width: 90%;
}
